/* Page styling */
body {
    background: rgb(182, 24, 24);
    background: radial-gradient(circle, rgb(212, 167, 108) 0%, rgb(130, 167, 202) 100%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

/* Main todo list container styling */
#todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 5px solid #ff0000;
    padding: 20px;
    color: white;
    border-radius: 55px;
}

/* Header section styling */
#header {
    margin: 5px;
    font-size: 10px;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* Main title styling */
h1 {
    margin-bottom: 20px;
}

/* Input box for adding new tasks */
#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/* Add task button styling */
#input-button {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f10101;
}

/* Add button hover effect */
#input-button:hover {
  background-color: #96ceee;
}

/* Task list container styling */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;
}

/* Individual task item styling */
li {
border: 1px solid white;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
margin-top: 10px;
}

/* Edit and delete button styling */
.edit-btn, .delete-btn {
  float: right;
  color:crimson;
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
}

/* Hover effect for edit and delete buttons */
.delete-btn:hover, .edit-btn:hover{
    background-color: #ffffff;
}

/* Styling for completed tasks */
.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}